{# 
  Background colours: "-bright-pink", "-pink", "-orange", "-teal", "-blue", "-dark-blue", "-dark-purple"
  Height: "-large", "-small", ""
  Title size: "-large", "-small", ""
 #}

{% set items=[
    {
      "bgColour": "-grey",
      "title": "RESEARCH THAT TRANSFORMS LIVES",
      "description": "Our world-leading experts are advancing improvements in healthcare – diagnosis, treatment and care – and improving the health of people in our region and globally.",
      "backgroundImage": "https://images.unsplash.com/photo-1618218630053-07b524185bbf",
      "caption": "Researchers in the lab at York University"
    }
  ] 
%}

{% macro styles() %}
  <link rel="stylesheet" href="assets/css/components/research/hero/hero.min.css" type="text/css" />
{% endmacro %}

{% macro scripts() %}
  {# <script src="assets/js/hero.js"></script> #}
{% endmacro %}

{% macro value() %}
{% for item in items %}
  <header class="hero-container {{ item.bgColour }}">

    <div class="image-container">
      <div class="overlay"></div>
      <picture>
        <source media="(max-width: 578px)" data-srcset="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=webp&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=800' }}" type="image/webp">
        <source media="(max-width: 578px)" data-srcset="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=800' }}">
        <source data-srcset="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=webp&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=1440' }}" type="image/webp">
        <img class="lazy" src="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=8&h=8' }}" data-src="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=1440&h=900' }}" alt="Siemens">
      </picture>
    </div>


    <div class="container">
      <div class="content-container">

        <h1 class="heading-1">{{ item.title | safe }}</h1>

        {% if (item.description) %}
        <div class="description">
          {{ item.description | safe }}
        </div>
        {% endif %}
      
      </div>
      <div class="image-caption">
        <p>{{ item.caption }}</p>
        <span class="fa-solid fa-info"></span>
      </div>
    </div>

  </header>
{% endfor %}
{% endmacro %}