.banner-cards > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 48em) {
  .banner-cards > .container {
    gap: 80px;
  }
}
.banner-cards > .container .card {
  align-items: center;
  display: flex;
  height: 380px;
  position: relative;
  overflow: hidden;
}
.banner-cards > .container .card > .image-container {
  position: absolute;
  width: calc(100% - 238px);
  z-index: -1;
}
@media (max-width: 47em) {
  .banner-cards > .container .card > .image-container {
    align-self: flex-start;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
  }
}
.banner-cards > .container .card > .image-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.banner-cards > .container .card .info {
  background: #ffffff;
  max-width: 476px;
  padding: 30px;
}
@media (max-width: 47em) {
  .banner-cards > .container .card .info {
    align-self: flex-end;
  }
}

.banner-cards.-purple {
  background: #4b384c;
}
.banner-cards.-maroon {
  background: #861f41;
}
.banner-cards.-grey {
  background: #efefef;
}
.banner-cards.-dark-grey {
  background: #333f48;
}
.banner-cards.-dark-blue {
  background: #1a2a39;
}

.banner-cards > .container .card.-left {
  justify-content: flex-start;
}
.banner-cards > .container .card.-left > .image-container {
  left: auto;
  right: 0;
}
@media (max-width: 47em) {
  .banner-cards > .container .card.-left .info {
    margin-right: 30px;
  }
}
.banner-cards > .container .card.-right {
  justify-content: flex-end;
}
.banner-cards > .container .card.-right > .image-container {
  left: 0;
  right: auto;
}
@media (max-width: 47em) {
  .banner-cards > .container .card.-right .info {
    margin-left: 30px;
  }
}