.cards-image-banner {
  align-items: flex-end;
  background: #ffffff;
  display: flex;
  min-height: 700px;
  position: relative;
  z-index: 0;
}

.cards-image-banner > .image-container {
  height: 100%;
  max-height: 700px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.cards-image-banner > .image-container > .overlay {
  background-position: -50%;
  background-repeat: no-repeat;
  background-size: 51% 200%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  width: 185%;
  z-index: 1;
}
@media (min-width: 48em) {
  .cards-image-banner > .image-container > .overlay {
    width: 185%;
  }
}
@media (min-width: 62em) {
  .cards-image-banner > .image-container > .overlay {
    width: 110%;
  }
}
@media (min-width: 75em) {
  .cards-image-banner > .image-container > .overlay {
    width: 100%;
  }
}
.cards-image-banner > .image-container img,
.cards-image-banner > .image-container video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.cards-image-banner > .container {
  display: flex;
  justify-content: center;
}
.cards-image-banner > .container .content-container {
  background: #ffffff;
  margin-top: 500px;
  max-width: 1400px;
  padding: 40px;
  width: 100%;
}
.cards-image-banner > .container .content-container .heading-2 {
  margin-bottom: 40px;
}
.cards-image-banner > .container .content-container .description > .btn {
  margin-top: 15px;
}
.cards-image-banner > .container .content-container > .card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
}
.cards-image-banner > .container .content-container > .card-container > .card {
  flex: 1 1 calc(33.3333333333% - 40px);
}
.cards-image-banner > .container .content-container > .card-container > .card:hover a > .info > span {
  margin-left: 10px;
}
.cards-image-banner > .container .content-container > .card-container > .card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.cards-image-banner > .container .content-container > .card-container > .card a > .image-container {
  margin-bottom: 20px;
  max-height: 200px;
  order: -1;
  overflow: hidden;
}
.cards-image-banner > .container .content-container > .card-container > .card a > .info {
  align-items: flex-end;
  color: #1a2a39;
  display: flex;
  gap: 20px;
}
.cards-image-banner > .container .content-container > .card-container > .card a > .info > h3,
.cards-image-banner > .container .content-container > .card-container > .card a > .info > .heading-5 {
  margin-bottom: 0;
  max-width: 340px;
}
.cards-image-banner > .container .content-container > .card-container > .card a > .info > span {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 5px;
  margin-left: 0;
  transition: margin-left 300ms ease-in-out;
}

.cards-image-banner.-purple {
  background: #4b384c;
}
.cards-image-banner.-maroon {
  background: #861f41;
}
.cards-image-banner.-grey {
  background: #efefef;
}
.cards-image-banner.-dark-grey {
  background: #333f48;
}
.cards-image-banner.-dark-blue {
  background: #1a2a39;
}