.partners > .container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.partners > .container {
  max-width: 1600px;
}
.partners > .container .heading-2 {
  font-weight: 500;
  margin-bottom: 50px;
}
.partners > .container .content {
  max-width: 800px;
  text-align: center;
}
.partners > .container .partners {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}
.partners > .container .partners .logo {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  height: 80px;
  max-width: 230px;
}
.partners > .container .partners .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.partners.-purple {
  background: #4b384c;
}
.partners.-maroon {
  background: #861f41;
}
.partners.-grey {
  background: #efefef;
}
.partners.-dark-grey {
  background: #333f48;
}
.partners.-dark-blue {
  background: #1a2a39;
}