@import '../../../abstracts/variables';
@import '../../../abstracts/mixins';
@import '../../../abstracts/functions';

.banner-cards > .container {
  & {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-above(sm) {
      gap: 80px;
    }
  }
  .card {
    & {
      align-items: center;
      display: flex;
      height: 380px;
      position: relative;
      overflow: hidden;
    }
    > .image-container {
      position: absolute;
      width: calc(100% - 476px / 2);
      z-index: -1;

      @include respond-below(sm) {
        align-self: flex-start;
        height: calc(100% - 30px);
        width: calc(100% - 30px);
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    .info {
      background: $white;
      max-width: 476px;
      padding: 30px;

      @include respond-below(sm) {
        align-self: flex-end;
      }

      .heading-5 {
        text-transform: uppercase;
      }
    }
  }
}

.banner-cards {
  &.-purple {
    background: $purple;
  }
  &.-maroon {
    background: $maroon;
  }
  &.-grey {
    background: $researchgrey;
  }
  &.-dark-grey {
    background: $darkgrey;
  }
  &.-dark-blue {
    background: $darkblue;
  }
}

.banner-cards > .container {
  .card.-left {
    justify-content: flex-start;
    > .image-container {
      left: auto;
      right: 0;
    }
    .info {
      @include respond-below(sm) {
        margin-right: 30px;
      }
    }
  }
  .card.-right {
    justify-content: flex-end;
    > .image-container {
      left: 0;
      right: auto;
    }
    .info {
      @include respond-below(sm) {
        margin-left: 30px;
      }
    }
  }
}
