.hero-home {
  .more.is-visible {
    opacity: 1;
    transform: translateY(60px);
  }
}
.image-block {
  > .is-visible {
    opacity: 1 !important;
    transform: translateY(0);
    transition: opacity 300ms ease-in-out, transform 500ms ease-in-out;
  }
}

// lazy loaded images blur -> sharp fade-in
.lazy {
  opacity: 0.6;
  filter: blur(0.5rem);
  transition: opacity 500ms ease-in-out, filter 500ms ease-in-out;
  &.loaded {
    opacity: 1;
    filter: blur(0) !important;
  }
}
