{% set name="Martin Veysey" %}
{% set role="Professor" %}
{% set quote="I’m passionate about problem-based learning, you don’t just learn about the neuroanatomy; you learn about someone who’s had a stroke. You see the context, and then you learn it better because its real…" %}
{% set cite="Professor Martin Veysey" %}
{% set image="https://www.hyms.ac.uk/assets/images-hyms/continuing-education/colin-vize.xfdcb1c49.jpg" %}
{% set youtube="https://www.youtube-nocookie.com/embed/ki7k7jFRyvY?feature=oembed&controls=0&hd=1&modestbranding=1&autohide=1&showinfo=0&enablejsapi=1&rel=0" %}


{% set related=[
    {
      "name": "Sophie Turner",
      "role": "Medical Student",
      "image": "https://images.unsplash.com/photo-1609604106834-beaa020604b0?crop=entropy&cs=srgb&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85",
      "alt": "Drone in someone's hand",
      "link": "https://www.youtube-nocookie.com/embed/ki7k7jFRyvY?feature=oembed&controls=0&hd=1&modestbranding=1&autohide=1&showinfo=0&enablejsapi=1&rel=0"
    },
    {
      "name": "Michelle Reeves",
      "role": "Medical Student",
      "image": "https://images.unsplash.com/photo-1609604106834-beaa020604b0?crop=entropy&cs=srgb&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85",
      "alt": "Drone in someone's hand",
      "link": "https://www.youtube-nocookie.com/embed/ki7k7jFRyvY?feature=oembed&controls=0&hd=1&modestbranding=1&autohide=1&showinfo=0&enablejsapi=1&rel=0"
    },
    {
      "name": "Matthew Taylor-DANIELS",
      "role": "Medical Student",
      "image": "https://images.unsplash.com/photo-1609604106834-beaa020604b0?crop=entropy&cs=srgb&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85",
      "alt": "Drone in someone's hand",
      "link": "https://www.youtube-nocookie.com/embed/ki7k7jFRyvY?feature=oembed&controls=0&hd=1&modestbranding=1&autohide=1&showinfo=0&enablejsapi=1&rel=0"
    }
  ] 
%}

{% macro value() %}
  <section class="main-stories">

    <div class="image-container">
      <div class="overlay"></div>
      <picture>
        <source data-srcset="{{ image }}?f=webp" alt="" type="image/webp">
        <img class="lazy" loading="lazy" src="{{ image }}?w=8&h=8" data-src="{{ image }}" alt="{{ alt }}">
      </picture>
    </div>

    <div class="_container">

        <div class="stories-tag">
          <p><strong>HULL YORK MEDICAL SCHOOL </strong>Stories</p>
        </div>

      <div class="text-block">
        
        <blockquote cite="{{ cite }}">
          {{ quote }}
        </blockquote>

        
        <a href="{{ youtube }}" class="story-info gallery">
          <div class="play"></div>
          <div class="details">
            <span>{{ job }}</span>
            <p>{{ name }}</p>
          </div>
        </a>

      </div>

      <div class="entry">
        <a href="" class="btn -secondary {{ classColour }}">Entry Requirements</a>
      </div>

      <div class="secondary-stories">


        {% for rel in related %}
          <a class="story-cards gallery" href="{{ rel.link }}">
            <img class="lazy" loading="lazy" src="{{ rel.image }}" data-src="{{ rel.image }}" alt="{{ rel.alt }}">
            <div class="story-info">
              <div class="play"></div>
              <div class="details">
                <span>{{ rel.role }}</span>
                <p>{{ rel.name }}</p>
              </div>
            </div>
          </a>
        {% endfor %}

      </div>
      
    </div>
  </section>

{% endmacro %}