.hero-container {
  align-items: flex-end;
  background: #ffffff;
  display: flex;
  min-height: 625px;
  min-width: 100%;
  position: relative;
  z-index: 0;
}
@media (min-width: 48em) {
  .hero-container {
    min-height: 75vh;
    min-height: 75dvh;
  }
}

.hero-container > .container {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding-top: 200px;
}
@media (min-width: 48em) {
  .hero-container > .container {
    flex-direction: row;
    padding-top: 150px;
  }
}
.hero-container > .container .content-container {
  background: #ffffff;
  color: #333f48;
  margin-right: 0;
  max-width: 510px;
  padding: 40px;
  z-index: 0;
}
.hero-container > .container .content-container > .heading-1 {
  margin-bottom: 25px;
  max-width: 830px;
}
.hero-container > .container .content-container > .description {
  font-size: 20px;
  font-size: 1.25rem;
}
.hero-container > .container .image-caption {
  align-items: center;
  background: #ffffff;
  color: #333f48;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px 18px;
}
@media (min-width: 48em) {
  .hero-container > .container .image-caption {
    margin-bottom: 50px;
    margin-right: 50px;
  }
}
.hero-container > .container .image-caption > p {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.25;
  margin-right: 20px;
  max-width: 180px;
}
.hero-container > .container .image-caption > span {
  color: #615e9b;
  font-size: 30px;
  font-size: 1.875rem;
}

.hero-container > .image-container {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.hero-container > .image-container img,
.hero-container > .image-container video {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
@media (min-width: 48em) {
  .hero-container > .image-container img,
  .hero-container > .image-container video {
    height: calc(100% - 50px);
  }
}
.hero-container > .image-container .overlay {
  z-index: 1;
}

.hero-container.-purple {
  background: #4b384c;
}
.hero-container.-maroon {
  background: #861f41;
}
.hero-container.-grey {
  background: #f6f7fb;
}
.hero-container.-dark-grey {
  background: #333f48;
}
.hero-container.-dark-blue {
  background: #1a2a39;
}