{# 
  Background colours: "-bright-pink", "-pink", "-orange", "-teal", "-blue", "-dark-blue", "-dark-purple"
  Height: "-large", "-small", ""
  Title size: "-large", "-small", ""
 #}

{% set items=[
    {
      "bgColour": "-grey",
      "backgroundImage": "https://images.unsplash.com/photo-1618218630053-07b524185bbf",
      "caption": "Researchers in the lab at York University",
      "title": "Related research groups and centres",
      "cards": [
        {
          "title": "Hello world",
          "image": "https://images.unsplash.com/photo-1618218630053-07b524185bbf",
          "link": "#"
        }
      ]
    }
  ] 
%}

{% macro styles() %}
  <link rel="stylesheet" href="assets/css/components/research/carousels/slider-image-banner.min.css" type="text/css" />
{% endmacro %}

{% macro scripts() %}
  {# <script src="assets/js/hero.js"></script> #}
{% endmacro %}

{% macro value() %} 
{% for item in items %}
  <section class="slider-image-banner {{ item.bgColour }} {{ item.position }}"> 

    <div class="image-container">
      <picture>
        <source media="(max-width: 578px)" data-srcset="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=webp&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=800' }}" type="image/webp">
        <source media="(max-width: 578px)" data-srcset="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=800' }}">
        <source data-srcset="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=webp&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=1440' }}" type="image/webp">
        <img class="lazy" src="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=8&h=8' }}" data-src="{{ item.backgroundImage + '?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODQ5MTI1OA&ixlib=rb-1.2.1&q=85&w=1440&h=900' }}" alt="Siemens">
      </picture>
    </div>


    <div class="container">
      <div class="content-container">

        <h2 class="component-title">{{ item.title }}</h2>
        
        {# ADD CARDS HERE #}
      
      </div>
    </div>

  </section>
{% endfor %}
{% endmacro %}