<footer>
  <div class="container">

    <div class="menus -internal">
      <div class="students">
        <ul role="list">
          <li>
            <a target="_blank" rel="nofollow noopener" class="" href="https://howto.hyms.ac.uk">ICT 'HowTo' <i class="fas fa-external-link-alt">&nbsp;</i></a>
            </li>
          <li>
            <a target="_blank" rel="nofollow noopener" class="" href="http://blackboard.hyms.ac.uk">BlackBoard <i class="fas fa-external-link-alt">&nbsp;</i></a>
            </li>
          <li>
            <a title="Support for students" class="" href="/staff-and-students/student-support">Student support</a>
            </li>
          <li>
            <a title="Regulations, policies and codes of practice" class="" href="/staff-and-students/regulations-policies-and-codes-of-practice">Regulations, policies and codes of practice</a>
            </li>
          <li>
            <a title="Research support" class="" href="/staff-and-students/research-support">Research support</a>
            </li>
        </ul>
      </div>

      <div class="general">
        <ul role="list">
          <li>
            <a title="Contact us" class="" href="/about/contact-us">Contact us</a>
          </li>
          <li>
            <a title="How to find us" class="" href="/about/how-to-find-us">How to find us</a>
          </li>
          <li>
            <a title="Current jobs" class="" href="/work-with-us/jobs">Jobs</a>
          </li>
          <li>
            <a title="Legal" class="" href="/legal">Legal</a>
          </li>
          <li>
            <a title="Privacy" class="" href="/legal/privacy">Privacy</a>
          </li>
          <li>
            <a title="Accessibility statement" class="" href="/legal/accessibility-statement">Accessibility</a>
          </li>
          <li>
            <a title="Cookies" class="" href="/legal/cookies">Cookies</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menus -external">
      <div class="logos">

        <div>
          <a title="University of Hull" href="http://www.hull.ac.uk" target="_blank" rel="nofollow noopener"> 
            <img alt="University of Hull" loading="lazy" src="https://www.hyms.ac.uk/site-elements/img/layout/footer/uni-of-hull.svg" /> 
          </a>
        </div>
        <div>
          <a title="University of York" href="http://www.york.ac.uk" target="_blank" rel="nofollow noopener"> 
            <img alt="University of York" loading="lazy" src="https://www.hyms.ac.uk/site-elements/img/layout/footer/uni-of-york.svg" /> 
          </a>
        </div>
        <div>
          <a title="athena-swan" href="/index.html" target="_blank" rel="nofollow noopener"> 
            <img alt="Athena Swan Silver Award" loading="lazy" src="https://www.hyms.ac.uk/site-elements/img/layout/footer/athena-swan-silver.svg" />
          </a>
        </div>

      </div>

      <div class="social">

        <ul>
          <li>
            <a title="Follow us on Twitter" href="https://twitter.com/HullYorkMed" target="_blank" rel="nofollow noopener"><i class="fab fa-twitter" aria-hidden="true">&nbsp;</i></a>
          </li>
          <li>
            <a title="Watch us on YouTube" href="https://www.youtube.com/channel/UCLHEceCTV0y4rm5GUhPTc_g" target="_blank" rel="nofollow noopener"><i class="fab fa-youtube" aria-hidden="true">&nbsp;</i></a>
          </li>
          <li>
            <a title="Follow us on LinkedIn" href="https://www.linkedin.com/company/hull-york-medical-school" target="_blank" rel="nofollow noopener"><i class="fab fa-linkedin-in" aria-hidden="true">&nbsp;</i></a>
          </li>
          <li>
            <a title="Follow us on Facebook" href="https://www.facebook.com/HullYorkMedicalSchool" target="_blank" rel="nofollow noopener"><i class="fab fa-facebook-f" aria-hidden="true">&nbsp;</i></a>
          </li>
        </ul>

      </div>
    </div>

  </div>
</footer>