<meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#CE0037" />
  <meta name="format-detection" content="telephone=no" />

  <title>
    {{title}}
  </title>

  <meta name="description" content="{{description}}" />
  <meta name="Keywords" content="{{keywords}}" />

  <link rel="icon" href="https://www.hyms.ac.uk/site-elements/img/favicon/favicon-16x16.png" sizes="16x16" type="image/png" />
  <link rel="icon" href="https://www.hyms.ac.uk/site-elements/img/favicon/favicon-32x32.png" sizes="32x32" type="image/png" />
  <link rel="icon" href="https://www.hyms.ac.uk/site-elements/img/favicon/favicon-96x96.png" sizes="62x62" type="image/png" />
  <link rel="icon" href="https://www.hyms.ac.uk/site-elements/img/favicon/favicon-180x180.png" sizes="180x180" type="image/png" />

  <link rel="preconnect" href="//cloud.typography.com/" crossorigin="anonymous" />
  <link rel="preconnect" href="//use.fontawesome.com/" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6201216/6221192/css/fonts.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />

  <link href="./assets/css/common.css" rel="stylesheet" type="text/css" /> 