.slider-image-banner {
  align-items: flex-end;
  background: #ffffff;
  display: flex;
  min-height: 700px;
  position: relative;
  z-index: 0;
}

.slider-image-banner > .image-container {
  height: 100%;
  max-height: 700px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.slider-image-banner > .image-container img,
.slider-image-banner > .image-container video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.slider-image-banner > .container {
  display: flex;
  justify-content: center;
}
.slider-image-banner > .container .content-container {
  background: #ffffff;
  margin-top: 500px;
  max-width: 1400px;
  padding: 40px;
  width: 100%;
}
.slider-image-banner > .container .content-container .heading-2 {
  margin-bottom: 40px;
}
.slider-image-banner > .container .content-container .description > .btn {
  margin-top: 15px;
}

.slider-image-banner.-purple {
  background: #4b384c;
}
.slider-image-banner.-maroon {
  background: #861f41;
}
.slider-image-banner.-grey {
  background: #efefef;
}
.slider-image-banner.-dark-grey {
  background: #333f48;
}
.slider-image-banner.-dark-blue {
  background: #1a2a39;
}
.slider-image-banner.-left > .container {
  justify-content: flex-start;
}
.slider-image-banner.-right > .container {
  justify-content: flex-end;
}