.slider-image-banner {
  align-items: flex-end;
  background: #ffffff;
  display: flex;
  min-height: 700px;
  position: relative;
  z-index: 0;
}

.slider-image-banner > .image-container {
  height: 100%;
  max-height: 600px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.slider-image-banner > .image-container img,
.slider-image-banner > .image-container video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.slider-image-banner > .container {
  align-items: flex-end;
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 425px;
}
.slider-image-banner > .container .content-container {
  max-width: 1400px;
  width: 100%;
  flex: 1 1 33.3333333333%;
}
.slider-image-banner > .container .content-container .component-title {
  margin-bottom: 20px;
}
.slider-image-banner > .container .content-container .description > .btn {
  margin-top: 15px;
}
.slider-image-banner > .container .controls {
  justify-content: flex-end;
  margin-top: 30px;
}

.slider-image-banner > .container > .swiper {
  flex: 1 1 66.6666666667%;
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
}
.slider-image-banner > .container > .swiper > .card {
  display: flex;
  flex: 1 1 calc(50% - 40px);
}
.slider-image-banner > .container > .swiper > .card:hover a > .info > span {
  margin-left: 10px;
}
.slider-image-banner > .container > .swiper > .card a {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}
.slider-image-banner > .container > .swiper > .card a > .image-container {
  align-self: flex-end;
  margin-bottom: 80px;
  height: 200px;
  order: -1;
  overflow: hidden;
  width: calc(100% - 30px);
  transition: all 300ms ease-in-out;
}
@media (min-width: 48em) {
  .slider-image-banner > .container > .swiper > .card a > .image-container {
    height: 300px;
  }
}
@media (min-width: 62em) {
  .slider-image-banner > .container > .swiper > .card a > .image-container {
    height: 450px;
  }
}
.slider-image-banner > .container > .swiper > .card a > .image-container img {
  display: unset;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.slider-image-banner > .container > .swiper > .card a > .info {
  background: #ffffff;
  bottom: 0;
  color: #1a2a39;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
  padding: 20px;
  position: absolute;
  width: calc(100% - 30px);
}
.slider-image-banner > .container > .swiper > .card a > .info > h3,
.slider-image-banner > .container > .swiper > .card a > .info > .heading-4 {
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.slider-image-banner > .container > .swiper > .card a > .info > span {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 5px;
  margin-left: 0;
  transition: margin-left 300ms ease-in-out;
}

.slider-image-banner.-purple {
  background: #4b384c;
}
.slider-image-banner.-maroon {
  background: #861f41;
}
.slider-image-banner.-grey {
  background: #efefef;
}
.slider-image-banner.-dark-grey {
  background: #333f48;
}
.slider-image-banner.-dark-blue {
  background: #1a2a39;
}
.slider-image-banner.-left > .container {
  justify-content: flex-start;
}
.slider-image-banner.-right > .container {
  justify-content: flex-end;
}