{% extends "layouts/main.njk" %}

{# Page related details #}
{% set title = "Call to action" %}
{% set description = "Call to action components" %}
{% set keywords = "Call to action, components" %}
{% set page = "child" %}
{% set pageMenu = "float" %}

{# COMPONENTS #}
{% import "partials/components/cta/cards.njk" as cards %}

{# Styles and sceripts added here #}
{% block styles %}
  <link href="/assets/css/cta-components.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
{% endblock %}


{% block content %}
  <section class="info-boxes">
    <div class="_container" style="padding-bottom:0;">
      <h1>{{description}}</h1>
    </div>
  </section>

  {{ cards.value() }}

{% endblock %}