{% extends "layouts/main.njk" %}

{# Page related details #}
{% set title = "Research" %}
{% set description = "Research components" %}
{% set keywords = "Research, components" %}
{% set page = "child" %}
{% set pageMenu = "float" %}

{# COMPONENTS #}
{% import "partials/components/research/hero/hero.njk" as hero %}

{# Styles and sceripts added here #}
{% block styles %}
  <link href="assets/css/swiper.css" rel="stylesheet" type="text/css" />

  {{ hero.styles() }}
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock %}


{% block content %}
  
  {{ hero.value() }}
  
  <h2>NEW COMPONENT</h2>
  <h2>NEW COMPONENT</h2>
  <h2>NEW COMPONENT</h2>

{% endblock %}
