{% extends "layouts/main.njk" %}

{# Page related details #}
{% set title = "Research" %}
{% set description = "Research components" %}
{% set keywords = "Research, components" %}
{% set page = "child" %}
{% set pageMenu = "float" %}

{# COMPONENTS #}
{% import "partials/components/research/hero/hero.njk" as hero %}

{# Styles and sceripts added here #}
{% block styles %}
  {# <link href="/assets/css/carousel-components.css" rel="stylesheet" type="text/css" /> #}
  {{ hero.styles() }}
{% endblock %}

{% block scripts %}
  {# <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="assets/js/testimonial-carousel.js"></script> #}
{% endblock %}


{% block content %}
  <section style="max-width:1200px;margin: 50px auto 0;">
    <h1 class="heading-1">{{ title + ' Components' }}</h1>
  </section>

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Hero</h2>
  </section>
  
  {{ hero.value() }}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Full width image with slider</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Full width image with content</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Cards small</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Featured intro</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Cards with full width image banner</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Partner strip</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Quote</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Content with image</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Standard cards</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">
      {{ title + ': ' }} Banner cards</h2>
  </section>
  
  {# {{ news.value() }} #}

{% endblock %}
