{% extends "layouts/main.njk" %}

{# Page related details #}
{% set title = "Research" %}
{% set description = "Research components" %}
{% set keywords = "Research, components" %}
{% set page = "child" %}
{% set pageMenu = "float" %}

{# COMPONENTS #}
{% import "partials/components/research/hero/hero.njk" as hero %}
{% import "partials/components/research/featured/intro.njk" as intro %}

{% import "partials/components/research/user-featured/quote.njk" as quote %}
{% import "partials/components/research/user-featured/partners.njk" as partner %}

{% import "partials/components/research/cards/standard-cards.njk" as stdCards %}
{% import "partials/components/research/cards/cards-image-banner.njk" as ciBanner %}

{% import "partials/components/research/media/full-image-content.njk" as fiContent %}
{% import "partials/components/research/media/content-image.njk" as contentImage %}

{% import "partials/components/research/carousels/slider-image-banner.njk" as slider %}

{# Styles and sceripts added here #}
{% block styles %}
  {# <link href="/assets/css/carousel-components.css" rel="stylesheet" type="text/css" /> #}
  {{ hero.styles() }}
  {{ intro.styles() }}

  {{ quote.styles() }}
  {{ partner.styles() }}

  {{ stdCards.styles() }}
  {{ ciBanner.styles() }}

  {{ fiContent.styles() }}
  {{ contentImage.styles() }}

  {{ slider.styles() }}
{% endblock %}

{% block scripts %}
  {# <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="assets/js/testimonial-carousel.js"></script> #}
{% endblock %}


{% block content %}
  <section style="max-width:1200px;margin: 50px auto 0;">
    <h1 class="heading-1">{{ title + ' Components' }}</h1>
  </section>

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Hero</h2>
  </section>
  
  {{ hero.value() }}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Featured intro</h2>
  </section>
  
  {{ intro.value() }}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">Card related</h2>
  </section>

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Cards small</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Standard cards</h2>
  </section>
  
  {{ stdCards.value() }}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Banner cards</h2>
  </section>
  
  {# {{ news.value() }} #}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Cards with full width image banner</h2>
  </section>
  
  {{ ciBanner.value() }}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">Media related</h2>
  </section>

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Full width image with content</h2>
  </section>
  
  {{ fiContent.value() }}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Content with image</h2>
  </section>
  
  {{ contentImage.value() }}


  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">User featured related</h2>
  </section>

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Partner strip</h2>
  </section>
  
  {{ partner.value() }}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Quote</h2>
  </section>
  
  {{ quote.value() }}

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-2">Carousel related</h2>
  </section>

  <section style="max-width:1200px;margin: 50px auto 0;">
    <h2 class="heading-3">
      {{ title + ': ' }} Full width image with slider</h2>
  </section>
  
  {{ slider.value() }}

{% endblock %}
