
{% macro value(tag, heading, colour) %}
  <section class="featured-title">
    <div class="_container {{colour}}">

      <div class="tag">
        <p class="component-tag -feature-tag">
          {{ tag }}
        </p>
      </div>

      <h2 class="component-title">
        {{ heading | safe}}
      </h2>
      
    </div>
  </section>
{% endmacro %}